<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:firstname) %></th>
      <th><%= model_class.human_attribute_name(:lastname) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:bloodgroup) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.email %></td>
        <td><%= student.age %></td>
        <td><%= student.contact %></td>
        <td><%= student.address %></td>
        <td><%= student.bloodgroup %></td>
        <td><%= student.sex %></td>
        <td><%= student.city %></td>
        <td><%= student.dob %></td>
        <td><%=l student.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      student_path(student), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= link_to "CSV", students_path(format: "csv") , :class => 'btn btn-primary' %> |
  <%= link_to "Excel", students_path(format: "xls") , :class => 'btn btn-primary'%>
<%= link_to "Download Invoice (PDF)", students_path(@students, :format => "pdf" , :class => 'btn btn-primary') %>