<%= form_with(model: guardian_detail, local: true) do |form| %>
  <% if guardian_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guardian_detail.errors.count, "error") %> prohibited this guardian_detail from being saved:</h2>

      <ul>
      <% guardian_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :guardian_detail_name %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :guardian_detail_contact %>
  </div>

  <div class="field">
    <%= form.label :relation %>
    <%= form.text_field :relation, id: :guardian_detail_relation %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :guardian_detail_address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :guardian_detail_email %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :guardian_detail_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :guardian_detail_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :guardian_detail_zipcode %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :guardian_detail_qualification %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :guardian_detail_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
