<p id="notice"><%= notice %></p>

<h1>Guardian Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Relation</th>
      <th>Address</th>
      <th>Email</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Qualification</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guardian_details.each do |guardian_detail| %>
      <tr>
        <td><%= guardian_detail.name %></td>
        <td><%= guardian_detail.contact %></td>
        <td><%= guardian_detail.relation %></td>
        <td><%= guardian_detail.address %></td>
        <td><%= guardian_detail.email %></td>
        <td><%= guardian_detail.city %></td>
        <td><%= guardian_detail.state %></td>
        <td><%= guardian_detail.zipcode %></td>
        <td><%= guardian_detail.qualification %></td>
        <td><%= guardian_detail.student %></td>
        <td><%= link_to 'Show', guardian_detail %></td>
        <td><%= link_to 'Edit', edit_guardian_detail_path(guardian_detail) %></td>
        <td><%= link_to 'Destroy', guardian_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guardian Detail', new_guardian_detail_path %>
